/*#form-login-admin {
    margin: 100px auto;
    width:40%;
}
.close-form{
    font-size:22px; 
    color:white;
    cursor:pointer;
}
#heading-form-login{
    height:55px;
    padding-left:0;
    padding-right:0;
}
#txtTaiKhoan, #txtMatKhau{
    padding-left:5px;
}
.space-input{
    margin-bottom:10px;
}*/


